.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 5%;
    font-size: 0.6rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s ease;
    color: white;
}

.navbar-end-icon {
    font-size: 1.7rem;
    margin-top: 5px;
}

.navbar-start {
    font-size: 1rem !important;
}

.navbar-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navbar-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.7rem;
}