.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 5%;
    font-size: 0.6rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s ease;
    color: white;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.75rem 5% !important;
}

.navbar-end-icon {
    font-size: 1.7rem;
    margin-top: 5px;
}

.navbar-start {
    font-size: 1rem !important;
}

.navbar-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    position: relative !important;
}

.navbar-start h1 {
    cursor: pointer;
}

/* .navbar-center-element::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    position: absolute !important;
    left: 0;
    bottom: -5px;

}

.navbar-center-element:hover::after {
    width: 100%;
} */

.navbar-center h1 {
    cursor: pointer;
}

.navbar-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.7rem;
    cursor: pointer;
}